.products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2.2222222222vw;
}
@media screen and (max-width: 767px) {
  .products {
    grid-gap: 8.5333333333vw;
  }
}
.products div {
  height: 20.8333333333vw;
  border-radius: 1.3888888889vw;
  font-size: 1.6666666667vw;
  grid-column: span 4;
  padding: 0 0 2.2222222222vw 2.2222222222vw;
  font-weight: 600;
  display: flex;
  align-items: end;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .products div {
    height: 80vw;
    border-radius: 5.3333333333vw;
    font-size: 6.4vw;
    grid-column: span 12;
    padding: 0 0 8.5333333333vw 8.5333333333vw;
  }
}