.bg {

    &-top {
        background: url(../../img/bg/top/bg-top.jpg) top center / cover no-repeat;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/top/bg-top-s.jpg) top center / cover no-repeat;
        }
    }

    &-game_1 {
        background: url(../../img/bg/game_covers/bg-game_1.jpg) center / cover no-repeat;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/game_covers/bg-game_1-s.jpg) center / cover no-repeat;
        }
    }

    &-game_2 {
        background: url(../../img/bg/game_covers/bg-game_2.jpg) center / cover no-repeat;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/game_covers/bg-game_2-s.jpg) center / cover no-repeat;
        }
    }

    &-game_3 {
        background: url(../../img/bg/game_covers/bg-game_3.jpg) center / cover no-repeat;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/game_covers/bg-game_3-s.jpg) center / cover no-repeat;
        }
    }

}