.bg {

    &--top {
        background: url(../../img/bg/top/bg--top.jpg) top center / cover no-repeat;

        @media screen and (max-width: $mobile) {
            background: url(../../img/bg/top/bg--top--s.jpg) top center / cover no-repeat;
        }
    }

    &--game {
        &1 {
            background: url(../../img/bg/games/gm1/bg--gm1_cover.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/games/gm1/bg--gm1_cover--s.jpg) center / cover no-repeat;
            }
        }

        &2 {
            background: url(../../img/bg/games/gm2/bg--gm2_cover.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/games/gm2/bg--gm2_cover--s.jpg) center / cover no-repeat;
            }
        }

        &3 {
            background: url(../../img/bg/games/gm3/bg--gm3_cover.jpg) center / cover no-repeat;

            @media screen and (max-width: $mobile) {
                background: url(../../img/bg/games/gm3/bg--gm3_cover--s.jpg) center / cover no-repeat;
            }
        }
    }



}