@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
}

*,
*:before,
*:after {
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    // apply a natural box layout model to all elements
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}