@import '_vars';

.top {

    min-height: 1024*$r;
    padding-top: 217*$r;
    row-gap: 32*$r;
    display: flex;
    flex-direction: column;
    color: #fff;

    @media screen and (max-width: $mobile) {
        min-height: 735*$m;
        padding-top: 0;
        row-gap: 32*$m;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title {
        font-size: 64*$r;
        line-height: calc(78 / 64);
        font-weight: 700;
        width: 40%;

        @media screen and (max-width: $mobile) {
            font-size: 32*$m;
            line-height: calc(39 / 32);
            width: 100%;
        }
    }

    &__p {
        @media screen and (max-width: $mobile) {
            white-space: pre-line;

            & br {
                display: none;
            }
        }
    }

}