@import '_vars';
@import '_global';
@import '_bg';
@import '_top';

body {
    row-gap: 128*$r;
    padding: 0 calc(100vw / 12);

    @media screen and (max-width: $mobile) {
        row-gap: 128*$m;
        padding: 0 16*$m;
    }
}